
{% extends 'base.html' %}
{% load static %}

{% block content %}


<script
      type="text/javascript"
      src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"
    ></script>


<div id="mynetwork"></div>
  <h3><center> Fig. 1. ACG of Student Enrolment System</center></h3>


<script type="text/javascript">

// create an array with nodes
nodes = [
  { id: 1, label: "E1" ,shape: "ellipse",font: { size: 30 },},

  { id: 2, label: "E2" ,shape: "ellipse",font: { size: 30 },},

  { id: 3, label: "E3",shape: "ellipse" ,font: { size: 30 },},

  { id: 4, label: "E4" ,shape: "ellipse",font: { size: 30 },},

  { id: 5, label: "E5",shape: "ellipse",font: { size: 30 }, },

  { id: 6, label: "E6" ,shape: "ellipse",font: { size: 30 },},



  {
    id: 7,
    label: "STUDENT AGENT (SA)",
    font: { face: "Monospace", align: "left" },
    shape: "box",
    font: { size: 50 },
   //  fixed: true,
   // physics: false,

  },

  
  {
    id: 8,
    label: "COLLEGE AGENT (CA)",
    shape: "box",
    font: { face: "Monospace", align: "left" },
    font: { size: 50 }, 
   // fixed: true,
 //physics: false,
  },
];

// create an array with edges
var edges = [
  { from: 7, to: 1, label: "S1", font: { align: "middle" },arrows: "to",smooth: false,},
  { from: 7, to: 2, label: "S3", font: { align: "top" },arrows: "to",smooth: false, },
  { from: 7, to: 3, label: "S5", font: { align: "horizontal" },arrows: "to",smooth: false,},

   { from: 6, to: 7, label: "S13", font: { align: "middle" },arrows: "to",smooth: false, },
  { from: 4, to: 7, label: "S8", font: { align: "top" } ,arrows: "to",smooth: false,},
  { from: 5, to: 7, label: "S10", font: { align: "horizontal" },arrows: "to",smooth: false, },


 { from: 1, to: 8, label: "S2", font: { align: "middle" },arrows: "to",smooth: false,},
  { from: 2, to: 8, label: "S4", font: { align: "top" },arrows: "to",smooth: false, },
  { from: 3, to: 8, label: "S6", font: { align: "horizontal" },arrows: "to",smooth: false,},

   { from: 8, to: 6, label: "S12", font: { align: "middle" },arrows: "to",smooth: false, },
  { from: 8, to: 4, label: "S7", font: { align: "top" } ,arrows: "to",smooth: false,},
  { from: 8, to: 5, label: "S9", font: { align: "horizontal" },arrows: "to",smooth: false, },

];

// create a network
var container = document.getElementById("mynetwork");
var data = {
  nodes: nodes,
  edges: edges,
};
var options = { physics: false };
var network = new vis.Network(container, data, options);

network.on("click", function (params) {
  params.event = "[original event]";
  document.getElementById("eventSpan").innerHTML =
    "<h2>Click event:</h2>" + JSON.stringify(params, null, 4);
});


</script>






<style type="text/css">
  #mynetwork {
  width:1200px;
  height: 700px;
  border: 1px solid lightgray;
    margin: auto;

}



</style>


  {% endblock %}
